@model IEnumerable<SFSAcademy.STUDENT_CATGEORY>
@{
    Layout = null;
}
<div id="page-yield">
    <div class="students-table">
        <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
            @{int i = 1; }
            @foreach (var item in Model)
            {
                string selectedRow = "tr-even";
                if (i % 2 == 0)
                {
                    selectedRow = "tr-odd";
                }
                <tr class="@selectedRow">
                    <td>
                        @Html.DisplayFor(modelItem => item.NAME)
                    </td>
                    <td>
                        <span>   </span>
                        <span>   </span>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "_CategoriesEdit", new { id = item.ID }, new { style = "text-decoration:underline" }) |
                        @Html.ActionLink("Delete", "_CategoriesDelete", new { id = item.ID }, new { style = "text-decoration:underline" })
                    </td>
                </tr>
                i = i + 1;
            }
        </table>
        <br />
    </div>
    <div id="user_information"> </div>
    <div class="extender"> </div>
</div>