
@{
    ViewBag.Title = "BatchTransfer_Index";
}

<div id="content-header">
    <img src="~/Content/images/student_details/student_details_logo.jpg" alt="Student Details Logo">
    <h1>Student Details</h1>
    <h3>Student Batch Transfer</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>

<div id="page-yield">
    <div class="box">
        <div class="link-box">
            <div class="link-heading">@Html.ActionLink("Batch Transfer By Course", "BatchTransfer", new { id = 1, BTCH_ID = 1, COLLECTION_ID = "" })</div>
            <div class="link-descr">Batch Transfer by selecting each course</div>
        </div>
        <div class="link-box">
            <div class="link-heading">@Html.ActionLink("Batch Transfer For Student", "BatchTransfer_Student_Search")</div>
            <div class="link-descr">Batch Transfer by searching each students</div>
        </div>
    </div>
</div>


