@model IEnumerable<SFSAcademy.BATCH>

@{
    ViewBag.Title = "Index";
}

<div id="content-header">
    <img src="~/Content/images/student_details/student_details_logo.jpg" alt="Student Details Logo">
    <h1>Student Details</h1>
    <h3>View Details</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>
<div id="inner-tab-menu">
    <ul>
        <li>@Html.ActionLink("Batch Transfer", "BatchTransfer")</li>
    </ul>
</div>
<div class="bread_crumb">
    @Html.ActionLink("Student Details", "Index") &raquo;
    View All
</div>

<div id="page-yield">
    <div id="search_box_bg">
        <div id="searchbox">
            <form name="search-form" id="search-form" action="" style="display:inline;">
                @using (Html.BeginForm("ViewAll", "Student", FormMethod.Get))
                {
                    <p>
                        @Html.DropDownList("searchString", null, htmlAttributes: new { @class = "form-control" })
                        <input type="submit" value="Submit" id="submit-button" />
                    </p>
                }

                <div class="extender"></div>
            </form>
        </div>
    </div>

    <div class="students-table">
        <div id="text-input-bg">
            @{Html.RenderAction("_ListStudentsByCourse", "Student", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter });}

        </div>
    </div>
    <div id="students"></div>
</div>



