@{
    ViewBag.Title = "Index";
}

<div id="content-header">
    <img src="~/Content/images/show_settings.png" alt="Settings Logo">
    <h1>Courses</h1>
    <h3>Home</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" width="100%"></div>

<div id="page-yield">
    <div class="box">
        <div class="link-box">
            <div class="link-heading">@Html.ActionLink("Manage Course", "ManageCourse")</div>
            <div class="link-descr">Manage Course and create batches</div>
        </div>
        <div class="link-box">
            <div class="link-heading"><a href="@Url.Action("ManageBatches", "BATCH")">Manage Batch </a></div>
            <div class="link-descr">Manage active batches</div>
        </div>
        <div class="extender"></div>
    </div>
</div>