@model IEnumerable<FINANCE_FEE_CATGEORY>
<div class="batch_select_box">
    <div class="label-field-pair label">
        <label>
            Select Fee Category / Batch
        </label>
    </div>
    <div class="sel-list">
        <a href="javascript:void(0);" onclick="$('input.category_select').each(function() { this.checked = true; });">All</a>
        <a href="javascript:void(0);" onclick="$('input.category_select').each(function() { this.checked = false; });">None</a>
    </div>
    <div class="fee_category_scroll">
        <div class="each_batch">
            @for (var j = 0; j < Model.Count(); j++)
            {
            <div class="each_category2">
                @Html.CheckBox("[" + j + "].Select", Model.ElementAt(j).Select, new { @class = "category_select", @id = "category_select" }) <label>@Model.ElementAt(j).NAME- @Model.ElementAt(j).BATCH.Full_Name </label>
                @foreach (var props in Model.ElementAt(j).GetType().GetProperties().ToList())
                {
                    string PropsName = props.Name;
                    var PropsValue = props.GetValue(Model.ElementAt(j));
                    @Html.Hidden("[" + j + "]." + PropsName, PropsValue)
                }
            </div>
            }
        </div>
    </div>
</div>


