@model SFSAcademy.FINANCE_FEE_PARTICULAR
@{    Layout = null;}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="label-field-pair">
        <div class="label-container">@Html.LabelFor(model => model.ADMSN_NO, "Admission Number", htmlAttributes: new { @class = "control-label col-md-2" })</div>
        <div class="input-container">
            @Html.EditorFor(model => model.ADMSN_NO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ADMSN_NO, "", new { @class = "text-danger" })
        </div>
    </div>
}
