@model IEnumerable<SFSAcademy.FINANCE_TRANSACTION_CATEGORY>

@{
    ViewBag.Title = "Categories";
}

<div id="content-header">
    <img src="~/Content/images/show_finance.png" alt="Finance Logo">
    <h1>Finance Management</h1>
    <h3>Categories</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" width="100%"></div>

<div id="page-yield">
    <div id="flash_box"></div>
    <div id="student-category-form">
        @Html.Partial("~/Views/Finance/_category_create_form.cshtml", new SFSAcademy.FINANCE_TRANSACTION_CATEGORY())
    </div>
    <br /><br />
    <div id="student-category-list">
        @{Html.RenderAction("_CategoriesList", "Finance");}

    </div>
</div>