
@{
    EMPLOYEE employee = (EMPLOYEE)ViewData["employee"];
    IEnumerable<INDIVIDUAL_PAYSLIP_CATGEORY> new_payslip_category = (IEnumerable<INDIVIDUAL_PAYSLIP_CATGEORY>)ViewData["new_payslip_category"];
    IEnumerable<INDIVIDUAL_PAYSLIP_CATGEORY> individual = (IEnumerable<INDIVIDUAL_PAYSLIP_CATGEORY>)ViewData["individual"];
    DateTime? salary_date = (DateTime?)ViewData["salary_date"];
}
<script type="text/javascript" language="javascript">
    function LoadUserEditPartialPage(sender) {
        $(".LoaderBox").show();
        $.get(sender, function (data) {
            $('#payslip-category-form').html(data);
            $('#payslip-category-form').fadeIn('fast');
        }).success(function (status) {
            $(".LoaderBox").hide();
        });
    }

</script>

@if ((new_payslip_category != null && new_payslip_category.Count() != 0) || (individual != null && individual.Count() != 0))
{
    <div id="list-payslip-category">
        @Html.Partial("_List_Payslip_Category")
    </div>
}


<div class="extender"></div>
<div id="add-payslip-category-link">
    <a href="@Url.Action("Add_Payslip_Category", "Employee", new { emp_id = employee.ID, salary_date = ViewData["salary_date"]})" class="user_button" id="General" onclick='LoadUserEditPartialPage(this.href); return false;'>Add New Category</a>
    <div class="LoaderBox" hidden="hidden"><img src="~/Content/images/loader.gif" id="loader" alt="Finance Logo" style="align-self:center; border:none"></div>
</div>

<div id="payslip-category-form"> </div>
