@model SFSAcademy.Models.User

@{
    ViewBag.Title = "Forgot_Password";
    Layout = "../Shared/_Layout/Login.cshtml";
}

<div id="wrapper">
    <div id="top_logo">
        <img src="~/Content/images/login/SF_Square_Logo-Small.svg" alt="A S. F. Square Title">
    </div>
    <div id="login_strip"></div>
    @if (ViewBag.network_state == "Online")
    {
        <div id="login_area_bg">
            @using (Html.BeginForm())
            {
                <div id="login_area">
                    <label for="email">Enter Email ID</label>
                    <div id="email_textbox_bg">
                        @Html.TextBoxFor(u => u.UserName)
                        @Html.ValidationMessageFor(u => u.UserName)
                    </div>
                    <div id="submit_area">
                        <input type="submit" value="Submit" />
                    </div>
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div id="notice">
                            <p class="flash-msg"> @ViewBag.ErrorMessage </p>
                        </div>
                    }

                </div>
            }
        </div>
    }
    else
    {
        <div id="login_area_bg">
            <div id="login_area">
                <label class="offline">Contact Admin</label>
            </div>
        </div>
    }
</div>


