@{
    IEnumerable<BatchSelect> batches = (IEnumerable<BatchSelect>)ViewData["batches"];
}
@if (batches != null && batches.Count() != 0)
{
    <div class="grades">
        <div class="label-field-pair">
            <label for="configuration_grading_systems">Select Batches :</label>
        </div>
        <div class="fee_category_scroll">
            <div class="sel-list">
                Select: <a href="javascript:$('input.batches_box').each(function() { this.checked = true; });">All</a>,
                <a href="javascript:$('input.batches_box').each(function() { this.checked = false; });">None</a>
            </div>
            @for (var j = 0; j < batches.Count(); j++)
            {
                <div class="each_batch">
                    @Html.CheckBox("[" + j + "].Select", batches.ElementAt(j).Select, new { @class = "batches_box" }) @batches.ElementAt(j).BatchData.Course_full_name
                    @Html.Hidden("[" + j + "].BatchData.ID", batches.ElementAt(j).BatchData.ID)
                </div>

            }
        </div>
    </div>
}
