@{
    ViewBag.Title = "Create";
}

<div id="content-header">
    <img src="~/Content/images/examination/show_exam.png" alt="Timetable Logo">
    <h1>Exam</h1>
    <h3>Create Exam</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>

<div id="inner-tab-menu">
    <ul>
        @if (Html.Permitted_To("Previous_Batch_Exams", "Exam"))
        {
            <li><a href="@Url.Action("Previous_Batch_Exams", "Exam")">Previous Batch Exams</a> </li>
        }
    </ul>
</div>
<div id="page-yield">
    @if (ViewBag.Notice != null)
    {
        <p class="flash-msg"> @ViewBag.Notice </p>
    }
    <div class="box">
        <div class="label-field-pair">
            <div class="label-field-pair">
                <label for="student_course">Select a Course</label>
                <div class="text-input-bg">
                    @Html.DropDownList("CRS_ID", null, htmlAttributes: new { @class = "form-control", @id = "CourseDropDown" })
                    <div class="LoaderBox"><img src="~/Content/images/loader.gif" id="loader" alt="Exam Logo" style="align-self:center; border:none"></div>
                </div>
            </div>
        </div>

        <div id="update_batch"></div>
        <div class="extender"></div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" language="javascript">
        $.ajaxSetup({ cache: false });
        $(document).ready(function () {
            $(".LoaderBox").hide();
            $('#CourseDropDown').change(function () {
                var selectedID = $(this).val();
                $(".LoaderBox").show();
                $.get('/Exam/Update_Batch?course_id=' + selectedID, function (data) {
                    $('#update_batch').html(data);
                    $('#update_batch').fadeIn('fast');
                }).success(function (status) {
                    $(".LoaderBox").hide();
                });

            });
        });
    </script>
}
