@model IEnumerable<SFSAcademy.STORE_CATEGORY>

@{
    ViewBag.Title = "Categories";
}

<div id="content-header">
    <img src="~/Content/images/show_store.png" alt="Store Logo">
    <h1>Store</h1>
    <h3>Sub Categories</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" width="100%"></div>
<div class="bread_crumb">
    @Html.ActionLink("Store", "Index") &raquo;
    @Html.ActionLink("Store Category", "Categories") &raquo;
    Store Sub Categories
</div>
<div id="page-yield">
    <div id="student-category-form">
        @Html.Partial("~/Views/Store/_product_sub_category_create_form.cshtml", new SFSAcademy.STORE_SUB_CATEGORY())
    </div>
    <br /><br />
    <div id="student-category-list">
        @{Html.RenderAction("_SubCategoriesList", "Store");}

    </div>
</div>