
<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/front-page/fonts/MyFontsWebfontsKit.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/front-page/stylesheets/font-awesome.css" type="text/css" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/front-page/stylesheets/fonts.css" type="text/css" />

    <link rel="stylesheet" href="~/Content/front-page/stylesheets/animate.min.css" type="text/css" />

    <title>A Short Story About The S. F. Square Academy</title>

    <link rel='stylesheet' id='a-better-way-style-css' href="~/Content/front-page/stylesheets/style.css" media='all' />

    <link rel="icon" href="~/Content/front-page/images/cropped-favicon-1-1-32x32-S.png" sizes="32x32" />
    <link rel="icon" href="~/Content/front-page/images/cr-favicon-1-1-192x192SF.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="~/Content/front-page/images/cr-favicon-1-1-180x180SF.png" />
    <meta name="msapplication-TileImage" content="/Content/front-page/images/cr-favicon-1-1-270x270SF.png" />
    <link rel="stylesheet" type="text/css" href="~/Content/front-page/stylesheets/mobile.css">

    <script type='text/javascript' src="~/Content/front-page/Scripts/jquery.js?ver=1.12.4"></script>
    <script type='text/javascript' src="~/Content/front-page/Scripts/jquery-migrate.min.js?ver=1.4.1"></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var cssTarget = "img.";
/* ]]> */
    </script>
    <script type='text/javascript' src="~/Content/front-page/Scripts/svg-inline-min.js?ver=1.0.0"></script>
    <script type='text/javascript' src="~/Content/front-page/Scripts/preloader-script.js"></script>
</head>

<body class="home page page-id-42 page-template-default">

        <div id="page" class="site">


            <header id="masthead" class="site-header" role="banner">


                <div class="site-branding">

                    <div class="row">

                        <div class="col-1">

                            <a href="@Url.Action("Login", "USERs")" alt="sfsquareacademy.org">Login to SFSquare Academy</a>

                        </div>


                        <div class="col-2">

                            <a href="http://www.sfsquareacademy.org"><img src="~/Content/front-page/images/School-Name-Logo.svg" alt="SFSQuare Academy Logo" class="logo"></a>

                        </div>

                        <div class="col-3">

                            <a href="http://sfsquare.net/ContactAndHelpUs/HelpCenter">request information</a>

                        </div>

                    </div>

                </div>
            </header>

            <div id="content" class="site-content">


                <!-- Styles -->



                <style>
                    .section-2 .col-1 {
                        width: 50%;
                        height: 860px;
                        float: left;
                        background: url("/Content/front-page/images/Graduation-275-2.jpg");
                        background-size: cover;
                        background-position: -150px;
                        background-repeat: no-repeat;
                    }

                    .section-4 .col-2 {
                        width: 50%;
                        height: 860px;
                        float: left;
                        background: url("/Content/front-page/images/section4-105.jpg");
                        background-size: cover;
                        background-position: -150px;
                        background-repeat: no-repeat;
                    }

                    .section-7 {
                        width: 100%;
                        min-height: 640px;
                        padding: 160px 60px;
                        background-image: url("/Content/front-page/images/section-7-bg-dark.jpg");
                        margin-bottom: -25px;
                        position: relative;
                        background-attachment: fixed;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                </style>

                <div id="main">
                    <div class="single single-case_studies postid-11839">
                        <div class="subpage">
                            <div class="hero">
                                <img src="~/Content/front-page/images/betterway-title.svg" alt="A S. F. Square Title">
                                <i class="btn-play btn-play-main hide"></i>
                                
                                <div class="carousel">
                                    <div class="slide" data-lazy="true" data-ui-color="white">
                                        <i class="btn-play btn-play-mobile" data-mp4="~/Content/front-page/video/Why-Go-To-School.mp4"></i>
                                        <div class="inside video-slide video-height-1080" data-layzr="~/Content/front-page/images/video-poster.jpg" data-layzr-bg data-mp4="~/Content/front-page/video/Why-Go-To-School.mp4" data-lrg="~/Content/front-page/images/video-poster.jpg">
                                            <img style='min-height:100%;min-width:100%;height:auto;width:auto;position:absolute;top:-100%; bottom:-100%;left:-100%; right:-100%;margin:auto;' src="~/Content/front-page/images/video-poster.jpg" alt="A S. F. Square Title">
                                            
                                        </div>
                                    </div>
                                </div>                         
                                <!--
                                <div class="carousel">
                                    <div class="slide" data-lazy="true" data-ui-color="white">
                                        <i class="btn-play btn-play-mobile" data-mp4="~/Content/front-page/video/Why-Go-To-School.mp4"></i>
                                        <div class="inside video-slide video-height-1080" data-layzr="~/Content/front-page/images/video-poster.jpg" data-layzr-bg data-mp4="~/Content/front-page/video/Why-Go-To-School.mp4" data-bg-mp4="/Content/front-page/video/MP4_Background.mp4">

                                            <div class="video-poster" data-layzr="~/Content/front-page/images/video-poster.jpg" data-layzr-bg data-lrg="~/Content/front-page/images/video-poster.jpg"></div>
                                        </div>
                                    </div>
                                </div>    
                                -->
                            </div>



                            <!-- Content -->
                            <div id="content" class="content-wrapper">

                                <!-- Section 1 -->

                                <div class="section-1-outer">

                                    <div class="section-1-inner">

                                        <div class="col-1">

                                            <h1 class="animated fadeIn">Let’s talk S. F. Square Academy.</h1>

                                            <p class="animated fadeIn"><p>As a parent you make countless decisions each day for your child. While some choices are easier than others, few have as far reaching impact as your child’s education. Join us for an admissions event or request information to learn more about our truly different approach to education.</p>

                                        </div>

                                        <div class="col-2">

                                            <a href="@Url.Action("Login", "USERs")" alt="sfsquareacademy.org">Login to SFSquare Academy</a>

                                            <a href="http://sfsquare.net/ContactAndHelpUs/HelpCenter" alt="request information" target="_blank">Request Information</a>

                                        </div>

                                    </div>

                                </div>



                                <!-- Section 2 -->

                                <div class="section-2">

                                    <div class="col-1">

                                    </div>

                                    <div class="col-2">

                                        <div class="col-2-inner">
                                            <object>

                                                <embed src="~/Content/front-page/images/section-2-stat-v3.svg">

                                            </object>

                                            <div class="vert-line-2"></div>

                                            <h1>94% primary students in India cannot recognise English</h1>

                                            <p>Special Focus and Dedicated Teachers to make all graduates eligible to be accepted by top tier schools/colleges</p>

                                        </div>

                                    </div>

                                </div>



                                <!-- Section 3 -->

                                <div class="section-3">

                                    <div class="col-1">

                                        <h1>76%. Of Students do not make it to a Higher Education Systems</h1>

                                        <p>By working with key education stakeholders like students and parents, our faculties would shake the grass root realities of India’s education system and begin to cultivate the knowledge, skills, and mindsets necessary to attain positions of leadership in education and identify their role in building a wider movement for educational equity in the country.</p>

                                    </div>

                                    <div class="col-2">
                                        <object>

                                            <embed src="~/Content/front-page/images/section-3-stat-v4.svg">

                                        </object>

                                    </div>

                                </div>


                                <!-- Section 4 -->

                                <div class="section-4">


                                    <div class="col-1">

                                        <div class="col-1-inner">

                                            <object>

                                                <embed src="~/Content/front-page/images/section-4-stat-v3.svg">

                                            </object>

                                            <div class="vert-line-4"></div>

                                            <h1>Average student to teacher ratio as per RTE Act from class I to VIII has to be 30:1</h1>
                                            <p>Surpassing the RTE Act, we have set our target for 8:1 ratio to match with international education standards at primary level.</p>

                                        </div>

                                    </div>

                                    <div class="col-2">

                                    </div>

                                </div>

                                <!-- Section 5 -->

                                <div class="section-5">

                                    <div class="col-1">
                                        <object>

                                            <embed src="~/Content/front-page/images/section-5-stat-v2.svg">

                                        </object>

                                    </div>

                                    <div class="col-2">

                                        <img src="~/Content/front-page/images/section-5-stat2.svg" id="stat-5-right">

                                        <h1>Special focus on 2nd, 3rd, and 4th graders</h1>

                                        <p>Target set for at least 50% of them to be placed in national/international math competitions</p>

                                    </div>



                                </div>

                                <!-- Section 6 -->

                                <div class="section-6">

                                    <div class="col-1">

                                        <h1>100% of school students</h1>

                                        <p>To participate in performing and visual arts mandatorily</p>

                                    </div>

                                    <div class="col-2">
                                        <object>

                                            <embed src="~/Content/front-page/images/section-6-stat-v3.svg">

                                        </object>

                                    </div>

                                </div>


                                <!-- Section 7 -->

                                <div class="section-7">

                                    <div class="section-7-inner">

                                        <h1>Opening Doors Through Literacy....</h1>

                                        <img src="~/Content/front-page/images/School-Name-Logo.svg">

                                        <a href="http://sfsquare.net/ContactAndHelpUs/HelpCenter" alt="request information" target="_blank" id="first-link">request information</a>

                                        <a href="http://sfsquare.net" alt="visit S. F. Square" target="_blank">visit S. F. Square</a>

                                        <a href="http://sfsquare.net" target="_blank" alt="sfsquare.net">sfsquare.net</a>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div><!-- #primary -->

                </div><!-- #content -->

                <footer id="colophon" class="site-footer" role="contentinfo">
                    <div class="footer-left">

                        <p>&copy;  2016 The S. F. Square Academy</p>

                    </div>
                    <div class="footer-right">

                        <p><span>Visit</span> | <a href="https://www.google.com/maps/place/Simrahi+Bazar,+Bihar,+India">Simrahi Bazar, Supaul, Bihar - 852111 India</a><p>

                        <p><span>Call</span> | <a href="tel:+91-8292784209">+91-82927 84209</a></p>

                    </div>

                </footer><!-- #colophon -->

            </div><!-- #page -->

            <script type='text/javascript' src="~/Content/front-page/Scripts/navigation.js?ver=20151215"></script>
            <script type='text/javascript' src="~/Content/front-page/Scripts/skip-link-focus-fix.js?ver=20151215"></script>
            <script type='text/javascript' src="~/Content/front-page/Scripts/wp-embed.min.js?ver=4.6.1"></script>

            <script type='text/javascript' src="~/Content/front-page/Scripts/jquery.min.js?ver=4.4.5"></script>
            <script type='text/javascript' src="~/Content/front-page/Scripts/video.js?ver=4.4.5"></script>
            <script src="~/Content/front-page/Scripts/video-plugin.js"></script>
            <script src="~/Content/front-page/Scripts/video-1.js"></script>
            <script src="~/Content/front-page/Scripts/wsfade.js"></script>
            <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window, document, 'script', "~/Content/front-page/Scripts/analytics.js", 'ga');

  ga('create', 'UA-10590473-1', 'auto');
  ga('send', 'pageview');

            </script>
    </body>

</html>
